<div style="width: 80%; margin: 0 auto 0 auto">
<div class="flexslider">
<a class="nav-button previous" href="#"></a>
  <ul class="slides" style="text-align: center; margin: 0 20% 0 20%">
    {% for slides in page.carousel %}
    <li style="margin-bottom: 1em">
    {% if slides.link %}
    <a href="{{ slides.link }}"><img style="margin-top: 1em; border: 1px solid #a0a0a0; border-radius: 1.5%; box-shadow: 3px 3px 10px #a0a0a0" src="{{ slides.image }}"></a>
    {% else %}
    <img style="{% if slides.border %} border: 1px solid #a0a0a0 {% endif %}" src="{{ slides.image }}">
    {% endif %}
    </li>
   {% endfor %}
  </ul>
<a class="nav-button next" href="#"></a>
</div>
</div>