<footer class="site-footer noprint">

  <div class="wrapper">

    <!--h2 class="footer-heading">{{ site.title }}</h2-->

    <div class="footer-col-wrapper">
&#169; Instructor generated course materials (e.g., slides, handouts, notes, summaries, exam questions, etc.) are protected by law and may not be copied or distributed in any form or in any medium without explicit permission of the instructor.  Note that infringements of copyright can be subject to follow up by the University under the Code of Student Conduct and Disciplinary Procedures.
    </div>

  </div>

</footer>
