/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    width: 100%;
    background-color: #fff;
    z-index: 3;

    // Positioning context for the mobile navigation icon
    position: relative;
    
    @include media-query($on-palm) {
	border-bottom: 1px solid $grey-color-light;
	box-shadow: 1px 3px 8px #999;
	height: 64px;
	}
}

.site-title {
	width: 100%;
    font-size: 1em;
    line-height: 1em;
    margin: 20px auto 0 auto;
    display: block;
    text-align: center;
    
    @include media-query($on-palm) {
	font-size: .5em;
	position: relative;
	bottom: 2em;
	}
}

.site-title img {
	@include media-query($on-palm) {
	display: none
	}
}

.site-nav {
	width: 100%;
	position: relative;
	text-align: center;
	z-index: 5;
	//border-bottom: 1px solid $grey-color-light;
	//box-shadow: 1px 3px 3px #999;
	
	.menu-icon {
		display: none;
	}
	
	#myDropdown {
		margin-top: 60px;
		}
	
	.nav {
		list-style: none; 
		display: inline-block; 
		margin-left: 0;
	}

	.nav-tab {
    	display: inline-block;
    	position: relative;
	    font-family: 'Arial', 'sans-serif';
	   	font-weight: normal;
	   	font-size: 1.15em;
  	 	font-variant: small-caps;
  	 	color: #696969;
	}
    
	.nav-a-inactive {
    	display: block;
    	float: right;
    	background-image: url('/assets/images/page-icon.png');
    	background-repeat: no-repeat;
    	background-size: 100% 100%;
	    width: 130px;
	    height: 160px;
	    line-height: 260px;
		color: #696969;
    
		&:hover {
			background-image: url('/assets/images/page-icon-fold-shadow.png');
			background-repeat: no-repeat;
		}
	}
	
	.nav-a-active {
    	display: block;
    	float: right;
    	background-image:url('/assets/images/page-icon-fold-shadow.png');
    	background-repeat: no-repeat;
    	background-size: 100% 100%;
	    width: 130px;
	    height: 160px;
	    line-height: 260px;
	    color: #696969;
        
		&:hover {
		}
		
		&:active {
			-webkit-transform: scale(1.0); /* Safari */
			-webkit-transition: all .1s; /* Safari */
			transform: scale(1.0);
			transition: all .1s;
		}
	}
    
    @include media-query($on-palm) {
    
		.menu-icon {
        	display: block;
	        position: absolute;
	        right: 0px;
	        bottom: 30px;
	        margin: 0 auto;
	        width: 36px;
	        height: 26px;
	        line-height: 0;
	        padding-top: 10px;
	        text-align: center;

		    > svg {
		        width: 18px;
		        height: 15px;

	        path {
	            fill: $grey-color-dark;
	        	}
	    	}
	    }
	    
	    #myDropdown {
	    	display: block;
	    	position: absolute;
	    	left: 2%;
	    	width: 100%;
	    	margin: 0;
		}
	
		.dropdown-content {
	    	visibility: hidden;
	    	opacity:0;
  			-webkit-transition-property: opacity, visibility; /* Safari */
  			-webkit-transition-duration: .4s, 0s; /* Safari */
  			-webkit-transition-delay: 0s, .4s; /* Safari */
  			transition-property: opacity, visibility;
			transition-duration: .4s, 0s;
			transition-delay: 0s, .4s;
        	
    		&:hover {
	    	}
	    }
        
		.show {
    		visibility: visible;
    		opacity: 1;
    		-webkit-transition-delay: 0s, 0s; /* Safari */
    		transition-delay: 0s, 0s;
		}
		
		
		.nav {
			list-style: none;
			display: block;
		}
        
    	.nav-tab {
    		display: block;
        	text-align: left;
        	font-size: 1em;
        	width: 80%;
    	}
        
    	.nav-a-active {
        	background-color: $brand-color!important;
        	background-image: none!important;
        	height: 2em;
        	line-height: 2em;
        	padding-left: 10px;
        	transform: none!important;
        	border: 1px solid $grey-color-light;
        	color: #fff;
        	width: 80%;
        
   			&:hover {
	   		color: #fff;
	   		}
	   		
	   		img {
	   		display: none!important
	   		}
   		}
   	
    	.nav-a-inactive {
        	background-color: white!important;
        	background-image: none!important;
        	height: 2em;
        	line-height: 2em;
        	padding-left: 10px;
        	border: 1px solid $grey-color-light;
        	color: $grey-color-dark;
        	width: 80%;
   			
   			&:hover {
	   		transform: none!important;
   			transition: none!important;
	   		color: white;
	   		background-color: $brand-color!important;
   			}
   			
   			img {
	   		display: none!important
	   		}
   		}
    }
}

/**
 * Divider
 */
.divider {
	position: relative;
	margin: 0 auto;
	text-align: center;

	
	.icon {
		display: inline-block;
		position: relative; 
		top: 7px; 
		background-repeat: no-repeat;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		line-height: 50px;
		border: 2px dotted #696969;
		margin: 0 -5px 0 -5px;
		padding: 0;
		font-family:'Old Standard TT';
		font-size: 2em;
		letter-spacing: -.15em;
		color: #696969;
	}
}

.contact-button {
	display: inline-block;
	width: 140px;
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
	font-size: .75em;
	color: $grey-color-dark;
	border: 1px solid $grey-color;
	border-radius: 10px;
	background-color: $grey-color-light;
	-webkit-transition: color .1s, background-color .1s;
	transition: color .1s, background-color .1s;
	
	
	&:hover {
	color: #fff;
	background-color: $grey-color-dark;
	}
}
	

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    margin: 0 auto 0 auto
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
    color: $text-color;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
    	font-family: 'Arial, sans-serif';
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;
        margin-top: 1.5em;
        margin-bottom: 1em;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;
        margin-top: 1.5em;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
