/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    height: 240px;
    width: 100%;
    background-color: #fff;
    z-index: 1;

    // Positioning context for the mobile navigation icon
    position: fixed;
}

.site-title {
    font-size: 1em;
    line-height: 1em;
    margin: 20px auto 10px auto;
    // float: left;
    display: block;
    text-align: center;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
	width: 100%;
	text-align: center;
	position: fixed;
	top: 200px;
	box-shadow: inset 0 -7px 10px -6px #999;
	z-index:5;
	
    .menu-icon {
        display: none;
    }

    .nav-tab-inactive {
        display: inline-block;
        width: 110px;
        height: 2.25em;
        line-height: $base-line-height;
        border-radius: 10px 10px 0 0;
        box-shadow: inset 3px 2px 7px 2px #999;
        background-color: $grey-color-light;
        position: relative;
        top: .5em;
        z-index: 3;
        text-shadow: 1px 1px $grey-color-light;
    
   		&:hover {
   		background-color: #fff;
    	//border-bottom: 1.5px solid #b3b3b3;
    	}
    }
    
    .nav-tab-active {
    	display: inline-block;
        min-width: 115px;
        min-height: 2.75em;
        line-height: $base-line-height;
        // border-bottom: 1px solid #fff;
        border-radius: 10px 10px 0 0;
        box-shadow: inset 3px 3px 2px 0px #999;
        width: 100px;
        background-color: #fff;
        position: relative;
        top: .2px;
        z-index: 5;
        text-shadow: 1px 1px $grey-color-light;
	}

    @include media-query($on-palm) {
        position: fixed;
        top: 200px;
        /* right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px; */
        box-shadow: none;
        text-align: center; 

        .menu-icon {
            display: inline;
            // float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        } 

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .nav-tab-active {
     		display: block;
	        min-width: 100%;
	        min-height: 2.5em;
	        color: $text-color;
	        line-height: $base-line-height;
	        border: 1px solid $grey-color-dark;
	        border-bottom: 1px solid #fff;
	        border-radius: 0 0 0 0;
	        box-shadow: none;
	        width: 100px;
	        background-color: #fff;
	        z-index: 3;
        }
        
        .nav-tab-inactive {
         	display: block;
	        width: 100%;
	        height: 2.5em;
	        color: $text-color;
	        line-height: $base-line-height;
	        border: 1px solid $grey-color-dark;
	        border-radius: 0 0 0 0;
	        box-shadow: none;
	        background-color: $grey-color-light;
	        position: relative;
	        top: 0;
	        z-index: 3;
        }
    }
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    margin: 0 auto 0 auto
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
    color: $text-color;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;
        margin-top: 1.5em;
        margin-bottom: 1em;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;
        margin-top: 1.5em;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
